:root {
  --unit: 1px;
  --value-size: 20;
  --value-count: 20;
  --size-cell: calc(var(--value-size) * var(--unit));
  --mult-size: calc(var(--value-count) * var(--size-cell));
}

html, body {
  margin: 0;
  padding: 0;
}
body {
  background: #000;
}
.game {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto 0 ;
  border: 3px solid #fff;
  height: var(--mult-size);
  width: var(--mult-size);
}
.game div {
  width: var(--size-cell);
  height: var(--size-cell);
}
.enemy {
  background: red;
  border-radius: 50%;
}
.player {
  background: greenyellow;
  border-radius: 50% 50% 50% 50% / 100% 100% 0 0;
}